# Tratamiento de data

In [1]:
!pip install pandas;pip install numpy;pip install pycountry

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in /home/codespace/.local/lib/python3.12/site-packages (2.1.1)
Requirement already satisfied: pycountry in /usr/local/python/3.12.1/lib/python3.12/site-packages (24.6.1)

In [2]:
import pandas as pd
import numpy as np
import pycountry

In [3]:
daily = pd.read_csv("./data/population-daily-smokers.csv")
popu = pd.read_csv("./data/population-smokers.csv")
men_women = pd.read_csv("./data/comparing-the-share-of-men-and-women-who-are-smoking.csv")

## Revisión de Daily

In [4]:
daily.isna().sum()

Entity                                                 0
Code                                                   0
Year                                                   0
Daily smoking prevalence - both (IHME, GHDx (2012))    0
Population                                             0
dtype: int64

In [5]:
daily['Code'].unique()

array(['AFG', 'ALB', 'DZA', 'AND', 'AGO', 'ATG', 'ARG', 'ARM', 'AUS',
       'AUT', 'AZE', 'BHS', 'BHR', 'BGD', 'BRB', 'BLR', 'BEL', 'BLZ',
       'BEN', 'BTN', 'BOL', 'BIH', 'BWA', 'BRA', 'BRN', 'BGR', 'BFA',
       'BDI', 'KHM', 'CMR', 'CAN', 'CPV', 'CAF', 'TCD', 'CHL', 'CHN',
       'COL', 'COM', 'COG', 'CRI', 'CIV', 'HRV', 'CUB', 'CYP', 'CZE',
       'COD', 'DNK', 'DJI', 'DMA', 'DOM', 'TLS', 'ECU', 'EGY', 'SLV',
       'GNQ', 'ERI', 'EST', 'SWZ', 'ETH', 'FJI', 'FIN', 'FRA', 'GAB',
       'GMB', 'GEO', 'DEU', 'GHA', 'GRC', 'GRD', 'GTM', 'GIN', 'GNB',
       'GUY', 'HTI', 'HND', 'HUN', 'ISL', 'IND', 'IDN', 'IRN', 'IRQ',
       'IRL', 'ISR', 'ITA', 'JAM', 'JPN', 'JOR', 'KAZ', 'KEN', 'KIR',
       'KWT', 'KGZ', 'LAO', 'LVA', 'LBN', 'LSO', 'LBR', 'LBY', 'LTU',
       'LUX', 'MDG', 'MWI', 'MYS', 'MDV', 'MLI', 'MLT', 'MHL', 'MRT',
       'MUS', 'MEX', 'MDA', 'MNG', 'MNE', 'MAR', 'MOZ', 'MMR', 'NAM',
       'NPL', 'NLD', 'NZL', 'NIC', 'NER', 'NGA', 'PRK', 'MKD', 'NOR',
       'OMN', 'PAK', 'PSE', 'PAN', 'PNG', 'PRY', 'PER', 'PHL', 'POL',
       'PRT', 'QAT', 'ROU', 'RUS', 'RWA', 'LCA', 'VCT', 'WSM', 'STP',
       'SAU', 'SEN', 'SRB', 'SYC', 'SLE', 'SGP', 'SVK', 'SVN', 'SLB',
       'SOM', 'ZAF', 'KOR', 'ESP', 'LKA', 'SDN', 'SUR', 'SWE', 'CHE',
       'SYR', 'TWN', 'TJK', 'TZA', 'THA', 'TGO', 'TON', 'TTO', 'TUN',
       'TUR', 'TKM', 'UGA', 'UKR', 'ARE', 'GBR', 'USA', 'URY', 'UZB',
       'VUT', 'VEN', 'VNM', 'OWID_WRL', 'YEM', 'ZMB', 'ZWE'], dtype=object)

In [6]:
# Get the unique country codes in the country_df DataFrame
all_codes = [country.alpha_3 for country in pycountry.countries]

# Get the unique country codes in the daily DataFrame
unique_codes = daily['Code'].unique()


# Print the updated DataFrame
print(daily.head())  # Show the first few rows

# Find the missing country codes
missing_codes = list(set(unique_codes) - set(all_codes))
missing_codes

        Entity Code  Year  \
0  Afghanistan  AFG  1980
1  Afghanistan  AFG  1981
2  Afghanistan  AFG  1982
3  Afghanistan  AFG  1983
4  Afghanistan  AFG  1984

   Daily smoking prevalence - both (IHME, GHDx (2012))  Population
0                                               10.4      13169312
1                                               10.5      11937587
2                                               10.5      10991382
3                                               10.5      10917986
4                                               10.6      11190220

['OWID_WRL']

Como el unico país que no está es porque ```OWID_WRL``` son  "International World" osea datos que no clasifican. No faltan paises

In [29]:
daily = daily[daily['Code'] != 'OWID_WRL']
daily.to_csv('Daily-Smokers.csv', index=False, header=True)

## Revisión de Population

In [8]:
popu.isna().sum()

Entity                                              0
Code                                               28
Year                                                0
Prevalence of current tobacco use (% of adults)     0
Population                                          0
dtype: int64

In [9]:
# Tiene 28 Codes que no funcionan
popu[popu['Code'].isna() == True]

,Entity,Code,Year,Prevalence of current tobacco use (% of adults),Population
448,High-income countries,NaN,2000,33.966145,1096764306
449,High-income countries,NaN,2005,30.498844,1134613531
450,High-income countries,NaN,2010,27.464682,1176862152
451,High-income countries,NaN,2015,24.742230,1216633392
452,High-income countries,NaN,2018,22.870430,1237400303
453,High-income countries,NaN,2019,22.858442,1243293724
454,High-income countries,NaN,2020,22.438213,1246978178
616,Low-income countries,NaN,2000,21.796463,390079727
617,Low-income countries,NaN,2005,18.819305,450155671
618,Low-income countries,NaN,2010,16.304663,520054114
619,Low-income countries,NaN,2015,14.232297,592175408
620,Low-income countries,NaN,2018,12.809574,642186193
621,Low-income countries,NaN,2019,12.795115,660718368
622,Low-income countries,NaN,2020,12.463944,679560751
623,Lower-middle-income countries,NaN,2000,43.284454,2271915129
624,Lower-middle-income countries,NaN,2005,36.885810,2487466881
625,Lower-middle-income countries,NaN,2010,31.551897,2707862957
626,Lower-middle-income countries,NaN,2015,27.271875,2931203438
627,Lower-middle-income countries,NaN,2018,24.276703,3059616816
628,Lower-middle-income countries,NaN,2019,24.249826,3101052514
629,Lower-middle-income countries,NaN,2020,23.577711,3141910133
1113,Upper-middle-income countries,NaN,2000,28.062386,2387650822
1114,Upper-middle-income countries,NaN,2005,26.993200,2487125039
1115,Upper-middle-income countries,NaN,2010,25.931273,2587239946
1116,Upper-middle-income countries,NaN,2015,25.009330,2698929424
1117,Upper-middle-income countries,NaN,2018,24.391320,2759864864
1118,Upper-middle-income countries,NaN,2019,24.374374,2776256182
1119,Upper-middle-income countries,NaN,2020,24.220100,2789064927

Vemos que en este caso, en los que no son paises, así que se pueden droppear

In [10]:
popu.dropna().isna().sum()

Entity                                             0
Code                                               0
Year                                               0
Prevalence of current tobacco use (% of adults)    0
Population                                         0
dtype: int64

Ya no hay NaN ahora

In [11]:
# Get the unique country codes in the country_df DataFrame
all_codes = [country.alpha_3 for country in pycountry.countries]

# Get the unique country codes in the daily DataFrame
unique_codes = popu['Code'].unique()

# Find the missing country codes
missing_codes = list(set(unique_codes) - set(all_codes))
missing_codes

[nan, 'OWID_WRL']

In [18]:
missing_codes

[nan, 'OWID_WRL']

In [28]:
popu = popu[popu['Code'] != 'OWID_WRL']
popu = popu[popu['Code'] != None]
popu.to_csv('Population-Smokers.csv', index=False, header=True)