In [1]:
import pandas as pd

In [2]:
popu = pd.read_csv("./data/Population-Smokers.csv")
big_year = popu[popu["Year"] == 2010]
big_year.to_csv("./data/Population-Smokers-2010.csv", index=False)

In [3]:
big_year.sort_values(by="Prevalence of current tobacco use (% of adults)", ascending=False)

,Entity,Code,Year,Prevalence of current tobacco use (% of adults),Population
758,Nauru,NRU,2010,55.5,10067
744,Myanmar,MMR,2010,54.6,49024376
555,Kiribati,KIR,2010,52.7,108717
310,East Timor,TLS,2010,46.0,1084687
842,Papua New Guinea,PNG,2010,45.9,7633523
...,...,...,...,...,...
814,Oman,OMN,2010,7.7,2757451
919,Sao Tome and Principe,STP,2010,6.6,181811
359,Ethiopia,ETH,2010,5.9,90538520
793,Nigeria,NGA,2010,5.9,166642887
408,Ghana,GHA,2010,4.9,25475001

In [4]:
big_year["Prevalence of current tobacco use (% of adults)"].max()

np.float64(55.5)

In [5]:
smokers = pd.read_csv("./data/Daily-Smokers.csv")
verybig = smokers[smokers['Year'] == 1997]

verybig.sort_values(by="Daily smoking prevalence - both (IHME, GHDx (2012))")

,Entity,Code,Year,"Daily smoking prevalence - both (IHME, GHDx (2012))",Population
4736,Sao Tome and Principe,STP,1997,3.200000,138934
182,Antigua and Barbuda,ATG,1997,3.700000,71071
1931,Ethiopia,ETH,1997,4.000000,61404542
2195,Ghana,GHA,1997,4.700000,18238961
4010,Niger,NER,1997,5.400000,10383977
...,...,...,...,...,...
4109,North Macedonia,MKD,1997,37.599998,2025762
4307,Papua New Guinea,PNG,1997,37.900002,4987889
2228,Greece,GRC,1997,38.799999,10622327
3119,Lebanon,LBN,1997,38.799999,4108409
2954,Kiribati,KIR,1997,50.000000,84161