# Buscando el maximo de fumadores

In [1]:
import pandas as pd

## Smokers por día

In [2]:
smokers = pd.read_csv("./data/Daily-Smokers.csv")

smokers["Smokers"] = smokers["Daily smoking prevalence - both (IHME, GHDx (2012))"] * smokers["Population"]
print(smokers)

           Entity Code  Year  \
0     Afghanistan  AFG  1980
1     Afghanistan  AFG  1981
2     Afghanistan  AFG  1982
3     Afghanistan  AFG  1983
4     Afghanistan  AFG  1984
...           ...  ...   ...
6133     Zimbabwe  ZWE  2008
6134     Zimbabwe  ZWE  2009
6135     Zimbabwe  ZWE  2010
6136     Zimbabwe  ZWE  2011
6137     Zimbabwe  ZWE  2012

      Daily smoking prevalence - both (IHME, GHDx (2012))  Population  \
0                                                  10.4      13169312
1                                                  10.5      11937587
2                                                  10.5      10991382
3                                                  10.5      10917986
4                                                  10.6      11190220
...                                                 ...           ...
6133                                               11.2      12959154
6134                                               11.2      13142793
6135                                               11.2      13356552
6136                                               11.2      13595422
6137                                               11.3      13817886

          Smokers
0     136960844.8
1     125344663.5
2     115409511.0
3     114638853.0
4     118616332.0
...           ...
6133  145142524.8
6134  147199281.6
6135  149593382.4
6136  152268726.4
6137  156142111.8

[6138 rows x 6 columns]

In [3]:
# Group by Year and sum the Daily smoking prevalence and Population columns
yearly_totals = smokers.groupby('Year').agg({
    'Daily smoking prevalence - both (IHME, GHDx (2012))': 'sum',
    'Population': 'sum',
    'Smokers': 'sum'
})
yearly_totals['Smokers']

Year
1980    1.083976e+11
1981    1.100578e+11
1982    1.119113e+11
1983    1.137586e+11
1984    1.153919e+11
1985    1.167074e+11
1986    1.180763e+11
1987    1.195846e+11
1988    1.208579e+11
1989    1.223613e+11
1990    1.237370e+11
1991    1.251382e+11
1992    1.265122e+11
1993    1.277092e+11
1994    1.285117e+11
1995    1.293541e+11
1996    1.302031e+11
1997    1.302762e+11
1998    1.299635e+11
1999    1.295767e+11
2000    1.287338e+11
2001    1.278243e+11
2002    1.270473e+11
2003    1.263069e+11
2004    1.259266e+11
2005    1.253821e+11
2006    1.247664e+11
2007    1.240225e+11
2008    1.238559e+11
2009    1.241818e+11
2010    1.252104e+11
2011    1.267371e+11
2012    1.285959e+11
Name: Smokers, dtype: float64

In [9]:
# Sort the Smokers column in descending order
yearly_totals_sorted = yearly_totals.sort_values(by='Smokers', ascending=False)

# Print the sorted DataFrame
yearly_totals_sorted.head(5)
# yearly_totals_sorted.tail(5)

,"Daily smoking prevalence - both (IHME, GHDx (2012))",Population,Smokers
Year,,,
1997,3589.400006,5902469315,1.302762e+11
1996,3626.500011,5820136008,1.302031e+11
1998,3553.300010,5984550448,1.299635e+11
1999,3517.999994,6066358956,1.295767e+11
1995,3644.400008,5737349898,1.293541e+11

Vemos que el año con más fumadores fue el 1997.

## Población de smokers

In [5]:
popu = pd.read_csv("./data/Population-Smokers.csv")
popu["Smokers"] = popu[f"Prevalence of current tobacco use (% of adults)"]* popu["Population"]
popu

,Entity,Code,Year,Prevalence of current tobacco use (% of adults),Population,Smokers
0,Afghanistan,AFG,2000,36.9,20130334,742809324.6
1,Afghanistan,AFG,2005,32.7,24404574,798029569.8
2,Afghanistan,AFG,2010,29.1,28284088,823066960.8
3,Afghanistan,AFG,2015,26.0,33831765,879625890.0
4,Afghanistan,AFG,2018,23.8,36743040,874484352.0
...,...,...,...,...,...,...
1164,Zimbabwe,ZWE,2010,15.6,13356552,208362211.2
1165,Zimbabwe,ZWE,2015,13.6,14399009,195826522.4
1166,Zimbabwe,ZWE,2018,12.1,15034457,181916929.7
1167,Zimbabwe,ZWE,2019,12.1,15271377,184783661.7
1168,Zimbabwe,ZWE,2020,11.7,15526888,181664589.6

In [6]:
yearly_popu = popu.groupby('Year').agg({
    f'Prevalence of current tobacco use (% of adults)': 'sum',
    'Population': 'sum',
    'Smokers': 'sum'
})
yearly_popu['Smokers']

Year
2000    4.155925e+11
2005    3.972845e+11
2010    3.798413e+11
2015    3.650050e+11
2018    3.495288e+11
2019    3.526450e+11
2020    3.493450e+11
Name: Smokers, dtype: float64

In [8]:
# Sort the Smokers column in descending order
yearly_popu = yearly_popu.sort_values(by='Smokers', ascending=False)

# Print the sorted DataFrame
yearly_popu.head(5)['Smokers']
yearly_popu.tail(5)['Smokers']

Year
2010    3.798413e+11
2015    3.650050e+11
2019    3.526450e+11
2018    3.495288e+11
2020    3.493450e+11
Name: Smokers, dtype: float64