# Buscando el maximo de fumadores

In [1]:
import pandas as pd

## Smokers por día

In [2]:
smokers = pd.read_csv("./data/Daily-Smokers.csv")

smokers["Smokers"] = smokers["Daily smoking prevalence - both (IHME, GHDx (2012))"] * smokers["Population"]
print(smokers)

smokers[smokers["Year"] == 1997].sort_values(by="Smokers", ascending=False)

           Entity Code  Year  \
0     Afghanistan  AFG  1980
1     Afghanistan  AFG  1981
2     Afghanistan  AFG  1982
3     Afghanistan  AFG  1983
4     Afghanistan  AFG  1984
...           ...  ...   ...
6133     Zimbabwe  ZWE  2008
6134     Zimbabwe  ZWE  2009
6135     Zimbabwe  ZWE  2010
6136     Zimbabwe  ZWE  2011
6137     Zimbabwe  ZWE  2012

      Daily smoking prevalence - both (IHME, GHDx (2012))  Population  \
0                                                  10.4      13169312
1                                                  10.5      11937587
2                                                  10.5      10991382
3                                                  10.5      10917986
4                                                  10.6      11190220
...                                                 ...           ...
6133                                               11.2      12959154
6134                                               11.2      13142793
6135                                               11.2      13356552
6136                                               11.2      13595422
6137                                               11.3      13817886

          Smokers
0     136960844.8
1     125344663.5
2     115409511.0
3     114638853.0
4     118616332.0
...           ...
6133  145142524.8
6134  147199281.6
6135  149593382.4
6136  152268726.4
6137  156142111.8

[6138 rows x 6 columns]

,Entity,Code,Year,"Daily smoking prevalence - both (IHME, GHDx (2012))",Population,Smokers
1172,China,CHN,1997,29.299999,1241139619,3.636539e+10
2558,India,IND,1997,16.500000,999133765,1.648571e+10
2591,Indonesia,IDN,1997,27.500000,206536090,5.679742e+09
5858,United States,USA,1997,20.700001,273468014,5.660788e+09
4571,Russia,RUS,1997,32.200001,147853772,4.760892e+09
...,...,...,...,...,...,...
2261,Grenada,GRD,1997,9.500000,105309,1.000436e+06
3515,Marshall Islands,MHL,1997,19.200001,49277,9.461184e+05
4736,Sao Tome and Principe,STP,1997,3.200000,138934,4.445888e+05
1601,Dominica,DMA,1997,6.000000,69315,4.158900e+05
182,Antigua and Barbuda,ATG,1997,3.700000,71071,2.629627e+05

In [3]:
# Group by Year and sum the Daily smoking prevalence and Population columns
yearly_totals = smokers.groupby('Year').agg({
    'Daily smoking prevalence - both (IHME, GHDx (2012))': 'sum',
    'Population': 'sum',
    'Smokers': 'sum'
})
yearly_totals['Smokers']

Year
1980    1.083976e+11
1981    1.100578e+11
1982    1.119113e+11
1983    1.137586e+11
1984    1.153919e+11
1985    1.167074e+11
1986    1.180763e+11
1987    1.195846e+11
1988    1.208579e+11
1989    1.223613e+11
1990    1.237370e+11
1991    1.251382e+11
1992    1.265122e+11
1993    1.277092e+11
1994    1.285117e+11
1995    1.293541e+11
1996    1.302031e+11
1997    1.302762e+11
1998    1.299635e+11
1999    1.295767e+11
2000    1.287338e+11
2001    1.278243e+11
2002    1.270473e+11
2003    1.263069e+11
2004    1.259266e+11
2005    1.253821e+11
2006    1.247664e+11
2007    1.240225e+11
2008    1.238559e+11
2009    1.241818e+11
2010    1.252104e+11
2011    1.267371e+11
2012    1.285959e+11
Name: Smokers, dtype: float64

In [4]:
# Sort the Smokers column in descending order
yearly_totals_sorted = yearly_totals.sort_values(by='Smokers', ascending=False)

# Print the sorted DataFrame
yearly_totals_sorted.head(5)

,"Daily smoking prevalence - both (IHME, GHDx (2012))",Population,Smokers
Year,,,
1984,3730.499993,4763519150,1.153919e+11
1983,3740.599997,4678985374,1.137586e+11
1982,3748.000006,4594661936,1.119113e+11
1981,3759.100014,4511103610,1.100578e+11
1980,3774.100003,4430278565,1.083976e+11

Vemos que el año con más fumadores fue el 1997.

In [11]:
(1.302762e+11/3.493450e+11)*100

37.2915599192775

## Población de smokers

In [6]:
popu = pd.read_csv("./data/Population-Smokers.csv")
popu["Smokers"] = popu[f"Prevalence of current tobacco use (% of adults)"]* popu["Population"]
popu[popu['Year'] == 2010].sort_values(by='Smokers', ascending=False).head(40)

,Entity,Code,Year,Prevalence of current tobacco use (% of adults),Population,Smokers
625,Lower-middle-income countries,NaN,2010,31.551897,2707862957,8.543821e+10
1115,Upper-middle-income countries,NaN,2010,25.931273,2587239946,6.709043e+10
471,India,IND,2010,38.100000,1243481564,4.737665e+10
219,China,CHN,2010,26.200000,1351561511,3.541091e+10
450,High-income countries,NaN,2010,27.464682,1176862152,3.232214e+10
478,Indonesia,IDN,2010,36.300000,246305326,8.940883e+09
1108,United States,USA,2010,28.000000,311062786,8.709758e+09
618,Low-income countries,NaN,2010,16.304663,520054114,8.479307e+09
79,Bangladesh,BGD,2010,44.000000,152201977,6.696887e+09
821,Pakistan,PAK,2010,27.400000,199239047,5.459150e+09
898,Russia,RUS,2010,29.800000,143934468,4.289247e+09
142,Brazil,BRA,2010,17.400000,193701931,3.370414e+09
527,Japan,JPN,2010,25.800000,128185273,3.307180e+09
863,Philippines,PHL,2010,28.300000,96337126,2.726341e+09
744,Myanmar,MMR,2010,54.600000,49024376,2.676731e+09
1143,Vietnam,VNM,2010,27.000000,87455150,2.361289e+09
1066,Turkey,TUR,2010,31.700000,73346766,2.325092e+09
401,Germany,DEU,2010,28.300000,80830917,2.287515e+09
324,Egypt,EGY,2010,24.300000,89196070,2.167465e+09
380,France,FRA,2010,33.800000,63417366,2.143507e+09
702,Mexico,MEX,2010,17.700000,113623897,2.011143e+09
1038,Thailand,THA,2010,26.300000,68579442,1.803639e+09
1101,United Kingdom,GBR,2010,24.100000,63006484,1.518456e+09
1003,Spain,ESP,2010,31.900000,46840470,1.494211e+09
513,Italy,ITA,2010,24.500000,60164212,1.474023e+09
1094,Ukraine,UKR,2010,31.100000,46456002,1.444782e+09
996,South Korea,KOR,2010,27.000000,48769330,1.316772e+09
485,Iran,IRN,2010,17.000000,77420852,1.316154e+09
30,Argentina,ARG,2010,28.900000,41288694,1.193243e+09
765,Nepal,NPL,2010,43.600000,27341955,1.192109e+09
870,Poland,POL,2010,30.800000,38095356,1.173337e+09
989,South Africa,ZAF,2010,21.600000,52344045,1.130631e+09
289,Democratic Republic of Congo,COD,2010,15.400000,68563037,1.055871e+09
793,Nigeria,NGA,2010,5.900000,166642887,9.831930e+08
2,Afghanistan,AFG,2010,29.100000,28284088,8.230670e+08
639,Madagascar,MDG,2010,35.400000,22183343,7.852903e+08
16,Algeria,DZA,2010,21.500000,36188236,7.780471e+08
653,Malaysia,MYS,2010,25.600000,28655771,7.335877e+08
1031,Tanzania,TZA,2010,15.500000,44758489,6.937566e+08
191,Canada,CAN,2010,19.300000,34196901,6.600002e+08

In [7]:
yearly_popu = popu.groupby('Year').agg({
    f'Prevalence of current tobacco use (% of adults)': 'sum',
    'Population': 'sum',
    'Smokers': 'sum'
})
yearly_popu

,Prevalence of current tobacco use (% of adults),Population,Smokers
Year,,,
2000,5017.209448,12129004827,4.155925e+11
2005,4510.397159,12935933100,3.972845e+11
2010,4079.252515,13777525503,3.798413e+11
2015,3710.855732,14654687766,3.650050e+11
2018,3459.048027,15162364963,3.495288e+11
2019,3458.977757,15321527094,3.526450e+11
2020,3396.899968,15468729451,3.493450e+11

In [8]:
# Sort the Smokers column in descending order
yearly_popu = yearly_popu.sort_values(by='Smokers', ascending=False)

# Print the sorted DataFrame
yearly_popu.head(5)
yearly_popu.tail(5)

,Prevalence of current tobacco use (% of adults),Population,Smokers
Year,,,
2010,4079.252515,13777525503,3.798413e+11
2015,3710.855732,14654687766,3.650050e+11
2019,3458.977757,15321527094,3.526450e+11
2018,3459.048027,15162364963,3.495288e+11
2020,3396.899968,15468729451,3.493450e+11

In [9]:
yearly_popu

,Prevalence of current tobacco use (% of adults),Population,Smokers
Year,,,
2000,5017.209448,12129004827,4.155925e+11
2005,4510.397159,12935933100,3.972845e+11
2010,4079.252515,13777525503,3.798413e+11
2015,3710.855732,14654687766,3.650050e+11
2019,3458.977757,15321527094,3.526450e+11
2018,3459.048027,15162364963,3.495288e+11
2020,3396.899968,15468729451,3.493450e+11